 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item color="tertiary">
      <ion-buttons>
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

      <ion-title>Actualizar</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

 <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="{{Data[0].imagen}}">
       <!-- <ion-img src="this.previsualizacion"></ion-img> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="updateForm" (ngSubmit)="updateFoto()">
          <ion-item>
          <ion-label position="floating">Titulo</ion-label>
            <ion-input
              formControlName="titulo"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input
              formControlName="descrip"
            ></ion-input>
          </ion-item>


          <ion-col>
            <ion-button
              type="submit"
              color="primary"
              shape="round"
              expand="block"
              color="tertiary"
            >
              UPDATE</ion-button
            >
          </ion-col>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-row>
    <ion-col>
      <ion-button
        (click)="takeFoto()"
        type="input"
        color="primary"
        shape="round"
        expand="block"
        color="tertiary">
        Tomar foto
      </ion-button>
    </ion-col>
  </ion-row> -->

  <ion-button (click)="borrar()">
    Borrar
  </ion-button>
</ion-content>
