<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="colorcito">
   <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAdd()" color="light">
      <ion-icon color="tertiary" name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-list>
  <ion-card lines="inset" *ngFor="let data of Data" >

    <ion-card-header>
    <ion-card-title>{{data.titulo}}</ion-card-title>
    <ion-card-subtitle>{{data.descrip}}</ion-card-subtitle>
    <div class="item-note" item-end>
    <!-- <ion-fab-button (click)="deleteFoto(data.id)" vertical="bottom" horizontal="end" class="relativo">
      <ion-icon size="mini" name="close-circle" style="zoom:2.0" ></ion-icon>
    </ion-fab-button> -->
    </div>
    </ion-card-header>

    <ion-img src="{{data.imagen}}"></ion-img>

    <div class="item-note" item-end>
      <ion-icon name="close-circle" style="zoom:2.0" (click)="deleteFoto(data.id)"></ion-icon>
    </div>

    <ion-card-content>
    <p>{{data.fecha}}</p>
    </ion-card-content>





    <!-- [routerLink]="['/modificar-foto/', data.id]" -->
  </ion-card>
</ion-list>
</ion-content>


